*{
    margin: 0px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    scrollbar-width: thin;
    scrollbar-color: #ffcb05 #414042;
    scroll-behavior: smooth;
}

header {
    background-color: #414042;
}

.conteudo1 img {
    width: 7vh;
    margin: 10px;
}

#atual {
    background-color: #ffcb05;
    color: #414042;
    border-radius: 10px;
}

.nav_topo {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.conteudo1, .conteudo2 {
    display: flex;
    align-items: center;
}

.conteudo1 {
    width: 20%;
}

.conteudo2 {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: end;
    background-color: white;
}

.nav_topo_header a {
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s all ease;
    color: #414042;
}

.nav_topo_header a:hover {
    background-color: #ffcb05;
    color: #432005;
    border-radius: 10px;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #ffcb05;
    cursor: pointer;
}

.centro {
    background-image: url('../Assets/Imagens/Banners/viseu3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    color: white;
    padding-top: 7%;
    padding-bottom: 7%;
    clip-path: polygon(100% 0, 100% 85%, 85% 100%, 0 100%, 0 0);
    text-shadow: 4px 4px 15px rgba(0,0,0,0.6);
}

#centro {
    transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

#centro.fade {
    opacity: 0;
}

.centro h3 {
    font-weight: 200;
    font-size: 1.5em;
}

.centro h1 {
    font-weight: bolder;
    font-size: 7em;
}

.main_informacao {
    width: 70%;
    margin: 0px auto;
    background-color: #F8F8F8;
}

.formulario {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

form p {
    margin-top: 10px;
    margin-bottom: 30px;
}

.informacoes {
    margin-top: 20px;
}

.input_contacto {
    width: 100%;
    height: 30px;
    border: 2px solid #EDEDED;
    transition: 0.5s all ease;
}

.input_contacto:hover {
    border: 2px solid #ffcb05;
}

.input_contacto_texto {
    border: 2px solid #EDEDED;
    width: 100%;
    height: 120px;
    transition: 0.5s all ease;
}

.input_contacto_texto:hover {
    border: 2px solid #ffcb05;
}

#label_info {
    background-color: #ffcb05;
    padding: 10px;
    transition: 0.5s all ease;
    border-top-left-radius: 5px;
}

#label_info:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mensagem_div {
    margin-top: 50px;
}

input {
    margin-bottom: 20px;
}

.imagem_fundo_cidade {
    width: 100%;
    margin: 0px;
}

.imagem_fundo_cidade img {
    width: 100%;
    margin-top: 0px;
    margin-bottom: -5px;
}

.footer_cima {
    background-color: #414042;
}

.footer_baixo {
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_baixo a {
    text-decoration: none;
    color: white;
}

.dentro_footer {
    width: 70%;
    margin: 0px auto;
    color: #cecece;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.autores {
    text-align: center;
    display: inline-flex;
}

.autores p {
    padding-left: 40px;
}

.btn_voltaracima {
    left: 90vw;
    top: 90vh;
    position: fixed;
    width: 40px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 100%;
    transition: 0.5s all ease;
}

.btn_voltaracima i {
    color: #414042;
    padding: 12px;
}

.btn_voltaracima:hover {
    color: white;
    background-color: #ffcb05;
}