*{
    margin: 0px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    scrollbar-width: thin;
    scrollbar-color: #ffcb05 #414042;
    scroll-behavior: smooth;
}

header {
    background-color: #414042;
}

.conteudo1 img {
    width: 7vh;
    margin: 10px;
}

#atual {
    background-color: #ffcb05;
    color: #414042;
    border-radius: 10px;
}

.nav_topo {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.conteudo1, .conteudo2 {
    display: flex;
    align-items: center;
}

.conteudo1 {
    width: 20%;
}

.conteudo2 {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: end;
    background-color: white;
}

.nav_topo_header a {
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s all ease;
    color: #414042;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}
.nav_topo_header a:hover {
    background-color: #ffcb05;
    color: #432005;
    border-radius: 10px;
}

/*ELE MOSTRA ISTO*/
.nav_topo_header.show {
    display: block;
}

/*ELE CLICA AQUI*/
.menu-toggle {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #ffcb05;
    cursor: pointer;
}


.centro {
    background-image: url('../Assets/Imagens/Hoteis/avenida2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding-top: 7%;
    padding-bottom: 7%;
    clip-path: polygon(100% 0, 100% 85%, 85% 100%, 0 100%, 0 0);
    text-shadow: 4px 4px 15px rgba(0,0,0,0.6);
}

#centro {
    transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

#centro.fade {
    opacity: 0;
}

.centro h3 {
    font-weight: 200;
    font-size: 1.5em;
}

.centro h1 {
    font-weight: bolder;
    font-size: 7em;
}

.cartao1 {
    margin-top: 50px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s all ease;
}

.info {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.teste1 {
    background-color: #0e0d2f6e;
}

.texto {
    margin: 0 auto;
    color: white;
    width: 50%;
    padding: 60px;
}

.texto h1 {
    font-size: 10vh;
}

.btns {
    margin-top: 20px;
}

.btn-secundario {
    background-color: #41404200;
}

#cartao1 {
    background-image: url('../Assets/Imagens/Hoteis/pousada.jpg');
}

#cartao2 {
    background-image: url('../Assets/Imagens/Hoteis/hotel-avenida.jpg');
}

#cartao3 {
    background-image: url('../Assets/Imagens/Hoteis/montebelo.jpg');
}

#cartao4 {
    background-image: url('../Assets/Imagens/Hoteis/hotel-grao-vasco.jpg');
}

.setas {
    display: flex;
    justify-content: center;
}

.hoteis {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.info {
    margin-top: 50px;
}

.hotel_info {
    margin-top: 50px;
    width: 500px;
}

.hotel_info img {
    width: 100%;
    background-size: 100%;
    transition: 0.5s all ease;
    border-radius: 5px;
}

.galeria_info {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.galeria_info h1 {
    font-weight: 5vw;
    margin-top: 20px;
}

.galeria_info p {
    margin-bottom: 20px;
}

.galeria img  {
    width: 45%;
}

.hotel_info img:hover {
    transform: scale(1.01); 
}

.botoes {
    margin-top: 20px;
}

.btn-principal {
    background-color: #ffcb05;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 7px 50px 8px 50px;
    font-weight: bold;
    transition: 0.5s all ease;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    text-decoration: none;
}

.btn-principal:hover {
    background-color: #efb403;
}

.btn-secundario {
    text-decoration: none;
    border: 2px solid 414042;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    border: 2px solid white;
    padding: 7px 50px 8px 50px;
    font-weight: bold;
    transition: 0.5s all ease;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.btn-secundario:hover {
    color:#414042;
    background-color: #ffffff;
}

.imagem_fundo_cidade {
    width: 100%;
    margin: 0px;
}

.imagem_fundo_cidade img {
    width: 100%;
    margin-top: 0px;
    margin-bottom: -5px;
}

.footer_cima {
    background-color: #414042;
}

.footer_baixo {
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_baixo a {
    text-decoration: none;
    color: white;
}

.dentro_footer {
    width: 70%;
    margin: 0px auto;
    color: #cecece;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.autores {
    text-align: center;
    display: inline-flex;
}

.autores p {
    padding-left: 40px;
}

.btn_voltaracima {
    left: 90vw;
    top: 90vh;
    position: fixed;
    width: 40px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 100%;
    transition: 0.5s all ease;
}

.btn_voltaracima i {
    color: #414042;
    padding: 12px;
}

.btn_voltaracima:hover {
    color: white;
    background-color: #ffcb05;
}