*{
    margin: 0px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    scroll-behavior: smooth;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #ffcb05 #414042;
}
  
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  
::-webkit-scrollbar-track {
    background: #414042;
}
  
::-webkit-scrollbar-thumb {
    background: #ffcb05;
    border-radius: 6px;
}
  
header {
    background-color: #414042;
}

.conteudo1 img {
    width: 7vh;
    margin: 10px;
}

#atual {
    background-color: #ffcb05;
    color: #414042;
    border-radius: 10px;
}

.nav_topo {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.conteudo1, .conteudo2 {
    display: flex;
    align-items: center;
}

.conteudo1 {
    width: 20%;
}

.conteudo2 {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: end;
    background-color: white;
    clip-path: polygon(04% 0%, 100% 0, 100% 100%, 0% 100%);
}

.conteudo a {
    color: #414042;
    font-size: 1em;
}

.nav_topo_header a{
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s all ease;
    color: #414042;
}

.nav_topo_header a:hover{
    background-color: #ffcb05;
    color: #432005;
    border-radius: 10px;
}

/*-------*/

#slider_botao {
    background-color: #868686;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    transition: 0.5s all ease;
}

#slider_botao:hover {
    background-color: #ffcb05;
}

.centro {
    background-image: url('Assets/Imagens/viseu1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #432005;
    text-align: center;
    color: white;
    padding-top: 10%;
    padding-bottom: 14%;
}

#centro {
    transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

#centro.fade {
    opacity: 0;
}

.centro h3 {
    font-weight: 200;
    font-size: 1.5em;
}

.centro h1 {
    font-weight: bolder;
    font-size: 7em;
}

.titulo_animado span {
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.3s all ease;
}

.titulo_animado span:hover {
    color: #ffcb05;
}

.btn-principal {
    background-color: #ffcb05;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    transition: 0.5s all ease;
}

.btn-principal a {
    text-decoration: none;
    color: white
}

.btn-principal:hover {
    background-color: #efb403;
}

.slider_botoes {
    visibility: hidden;
}

.main_sobre {
    text-align: center;
    margin-bottom: 50px;
    width: 70%;
    margin: 100px auto;
}

.main_sobre h1 {
    font-weight: bolder;
    font-size: 4em;
}

.main_sobre {
    font-size: 1em;
}

.cartoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cartao {
    margin-top: 50px;
    background-color: rgb(244, 244, 244);
    text-align: center;
    width: 15%;
    color:#432005;
    font-size: 1.5em;
    transition: 0.5s all ease;
}

.cartao i, p {
    padding: 20px;
}

.cartao p {
    padding-top: 0px;
}

.cartao:hover {
    background-color: #ffcb05;
    color: white;
    border-radius: 10px;
}

.fixed-image img {
    position: absolute;
    top: 1150px;
    left: 0;
    width: 35vw;
    height: auto;
    z-index: -1;
    opacity: 0.1;
  }
  

.fundo {
    color: black;
}

.porque_viajar {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.porque_viajar h1 {
    font-weight: bolder;
    font-size: 4em;
}

.porque_viajar p{
    width: 70%;
    margin: 20px auto;
    font-size: 1em;
}

.teste1 {
    text-align: center;
    background-image: url('Assets/Imagens/viseu1.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    transition: 0.5s ease all;
}

.teste1:hover {
    background-size: 110%;
}

.teste2 {
    text-align: center;
    background-image: url('Assets/Imagens/comida1\ \(1\)\ \(1\).jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s ease all;
}

.teste2:hover {
    background-size: 110%;
}

.teste3 {
    text-align: center;
    background-image: url('Assets/Imagens/viseu3.jpeg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    transition: 0.5s ease all;
}

.teste3:hover {
    background-size: 110%;
}

.texto {
    background-color: #21212181;
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: white;
    width: 100%;
    margin: 0px auto;
}

.texto h1{
    font-size: 5em;
}

.texto p {
    width: 50%;
    margin: 0 auto;
    font-size: 1em;
    font-weight: 400;
}

.atracoes h1 {
    margin-bottom: 50px;
}

.atracoes {
    text-align: center;
    width: 70%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cartoes_atracoes {
    background-image: url('Assets/Imagens/azulejo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
}

.texto_atracao {
    background-color: #21212181;
    padding-top: 14%;
    padding-bottom: 14%;
}