*{
    margin: 0px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    scrollbar-width: thin;
    scrollbar-color: #ffcb05 #414042;
    scroll-behavior: smooth;
}

header {
    background-color: #414042;
}
 
header {
    background-color: #414042;
}

.conteudo1 img {
    width: 7vh;
    margin: 10px;
}

#atual {
    background-color: #ffcb05;
    color: #414042;
    border-radius: 10px;
}

.nav_topo {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.conteudo1, .conteudo2 {
    display: flex;
    align-items: center;
}

.conteudo1 {
    width: 20%;
}

.conteudo2 {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: end;
    background-color: white;
}

.nav_topo_header a {
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s all ease;
    color: #414042;
}

.nav_topo_header a:hover {
    background-color: #ffcb05;
    color: #432005;
    border-radius: 10px;
}

/* Estilos para o menu responsivo
ALTERAR */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #ffcb05;
    cursor: pointer;
}

@media (max-width: 768px) {
    .conteudo2 {
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        text-align: right;
    }

    .nav_topo_header {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin: 0;
    }

    .nav_topo_header a {
        padding: 15px;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .menu-toggle {
        display: block;
        margin: 10px;
    }

    .nav_topo_header.show {
        display: flex;
    }
}

.teste_sec {
    color: #414042;
    position: relative;
    width: 70%;
    top: 90px;
    margin: 0 auto;
    background: linear-gradient(119deg, rgba(2,0,36,1) 0%, rgba(255,113,5,1) 0%, rgba(255,203,5,1) 49%, rgba(255,139,67,1) 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.121);
    color: white;
    border-radius: 10px;
    transition: 0.5s all ease;
    padding: 10px;
}

.teste_sec:hover {
    background-size: 105%;
}

.teste_sec h1 {
    font-size: 3em;
}

.teste_sec p {
    font-size: 1.3em;
}

.paragrafo_sec {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.titulo_sec {
    margin-top: 20px;
}

.centro_index {
    background-image: url('Assets/Imagens/Banners/viseu1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding-top: 10%;
    text-shadow: 4px 4px 15px rgba(0,0,0,0.6);
}


#centro_index {
    transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

#centro_index.fade {
    opacity: 0;
}

.centro_index h3 {
    font-weight: 400;
    font-size: 1.5em;
}

.titulo_animado span {
    font-weight: bolder;
    font-size: 4em;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.3s all ease;
}

.titulo_animado_ativo {
    color: #ffcb05;
}

.btn-principal {
    background-color: #ffcb05;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    transition: 0.5s all ease;
}

.btn-principal a {
    text-decoration: none;
    color: white
}

.btn-principal:hover {
    background-color: #efb403;
}

.slider_botoes {
    visibility: hidden;
}

.main_sobre {
    text-align: center;
    margin-bottom: 50px;
    width: 70%;
    margin: 100px auto;
}

.main_sobre h1 {
    font-weight: bolder;
    font-size: 4em;
}

.main_sobre {
    font-size: 1em;
}

.cartoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cartao {
    margin-top: 50px;
    background-color: rgb(244, 244, 244);
    text-align: center;
    color:#432005;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s all ease;
}

.cartao_dentro {
    width: 100px;
    height: 100px;
    padding: 50px;
}

.cartao:hover {
    background-color: #ffcb05;
    color: white;
    border-radius: 10px;
}

.fundo {
    color: black;
}

.porque_viajar {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.porque_viajar h1 {
    font-weight: bolder;
    font-size: 4em;
}

.porque_viajar p{
    width: 70%;
    margin: 20px auto;
    font-size: 1em;
}

.cartao1 {
    text-align: center;
    background-image: url('Assets/Imagens/Banners/viseu1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);*/
    transition: 0.5s all ease;
}

.cartao2 {
    text-align: center;
    background-image: url('Assets/Imagens/Banners/comida.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cartao3 {
    text-align: center;
    background-image: url('Assets/Imagens/Banners/viseu2.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);*/
}

.texto {
    background-color: #21212181;
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: white;
    width: 100%;
    margin: 0px auto;
}

.texto h1{
    font-size: 5em;
}

.texto p {
    width: 50%;
    margin: 0 auto;
    font-size: 1em;
    font-weight: 400;
}

.atracoes h1 {
    margin-bottom: 50px;
}

.atracoes {
    text-align: center;
    width: 70%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cartoes_atracoes {
    background-image: url('Assets/Imagens/Banners/azulejo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
}

.texto_atracao {
    background-color: #21212181;
    padding-top: 14%;
    padding-bottom: 14%;
}

.imagem_fundo_cidade {
    width: 100%;
    margin: 0px;
}

.imagem_fundo_cidade img {
    width: 100%;
    margin-top: 0px;
    margin-bottom: -5px;
}

.footer_cima {
    background-color: #414042;
}

.footer_baixo {
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_baixo a {
    text-decoration: none;
    color: white;
}

.dentro_footer {
    width: 70%;
    margin: 0px auto;
    color: #cecece;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.autores {
    text-align: center;
    display: inline-flex;
}

.autores p {
    padding-left: 40px;
}

.btn_voltaracima {
    left: 90vw;
    top: 90vh;
    position: fixed;
    width: 40px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 100%;
    transition: 0.5s all ease;
}

.btn_voltaracima i {
    color: #414042;
    padding: 12px;
}

.btn_voltaracima:hover {
    color: white;
    background-color: #ffcb05;
}